
.logo-container {
  text-align: center;
  margin-top: 40px;

  img {
    width: 50px;
    height: auto;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 40%;
  margin: 6% auto;


  .form-line {
    margin-bottom: 15px;

    input {
      width:  100%;
      box-sizing: border-box;
      padding: 10px;
      background-color: black;
      border: none;
      border-radius: 5px;
      color: lightgrey;

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px black inset !important;
        -webkit-text-fill-color: lightgrey;
      }


      &:focus {
        background-color: #131414;
        // outline: 1px solid lightgray;
        transition: 0.3s;
      }

      &.input-invalid {
        border: 1px solid #c03865;
      }

    }
  }

  .error-message {
    color: #c03865;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 6px;

  }

  .submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    .register-button {
      background-color: #c03865;;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      opacity: 0.7;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }

  }

}
